.pageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Apple Chancery";
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #222;
}

.sentencesContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: rgba(65, 105, 225, 0.529);
  border-radius: 20px;
  padding: 5px;
}

.sentence {
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  width: 20rem;
  transition: transform 0.3s ease;
  margin: 0;
  font-weight: 400;
}

.button {
  position: relative;
  text-align: center;
  background-color: #95959565;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  margin-top: 20px;
  width: 300px;
  transition: transform 0.3s ease;
}

.button:hover,
.sentence:hover {
  transform: scale(1.05);
}
.button:active,
.sentence:active {
  transform: scale(0.95);
}
/*
.sentence-1 {
  background-color: #ffcdd2;
}

.sentence-2 {
  background-color: #c5cae9;
}

.sentence-3 {
  background-color: #b2dfdb;
}
*/

.linkWrapper {
  position: absolute;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 200px;
  display: flex;
  flex-direction: row;
}

.link {
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
.aboutContainer {
  position: absolute;
  top: 50vh;
  transform: translatey(-50%);
  width: 70%;
  text-align: justify;

  font-size: 25px;
}
.cursive {
  margin-top: 40px;
  font-size: 30px;
  font-family: "Apple Chancery", cursive;
}
